<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>LinArt needs camera access to capture documents and IDs.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>LinArt needs photo library access to save and import images.</string>
	<key>NSCloudKitContainerEnvironment</key>
	<string>Development</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>